
/******************Home Page*************************/

h3{
  color: white;
  font-family: 'Lora', serif;
}

h2, h4 {
  color: #2C5460;
  font-family: 'Lora', serif;
}

hr {
width: 50%;
opacity: 1;
display: block;
border-top: 7px solid #A0E418;
margin: 0.25em auto;
}

.underlined-title{
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}

.navbar, .navbar-brand, .jcaa-logo {
  padding: 0;
}

.navbar-toggler, .navbar-collapse {
  margin: 0 2em;
}

.nav-link{
  transition: 0s;
}

.nav-link:hover{
  background-color: #FFA500;
  border-radius: 25px;
  
}

.homepage-section{
  padding: 10% 5%;
}

/***Title Section Homepage*/

#title {
  background-color: #D6E5FA;
}

.container-fluid {
  padding: 0;
  background-color: #F7F7F7;
}

/****Container holding the image and the text on home page ****/

.masthead{
    background-size: cover;
    min-height: 75vh;
    position: relative;
    color: white;
}

h1{
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.dark-title {
  color: #5D5D5D;
  font-weight: bold;
}

.color-overlay{
    position: relative;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.2);
}

.top-right {
  text-align: right;
  padding: 7% 5%;
}

.heading-text{
  padding: 5% 3% 0;
  line-height: 2;
}

h1.heading-text{
  font-weight: bold;
}

.see-more{
  color:white;
}

/*******Media Queries******/
@media(max-width: 871px){
    .masthead{
        min-height: 50vh;
    }

    h1{
        font-size: calc(1rem + 3.3vw);
    }
}

/********* Qualification section home page  */

.qualifications {
  text-align: center;
  padding: 10% 5%;
  margin: 0;
  background-color: gray;
}

.qualification-item {
padding: 2rem 1rem;
}

.big-detail{
  color: white;
  padding-bottom: 7%;
  font-weight: bold;
}

.small-detail{
  color: #A0E418;
}

/****Services section homepage*/

#services {
  text-align: center;
  background-color: #F7F7F7;
}

.white-overlay{
  position: relative;
  width:100%;
  height:100%;
  background-color: rgba(255, 255, 255, 0.75);
  
}

.homepage-icon {
  color: #61B136;
  margin: 1em 0.5em;
}

.services-category{
  padding: 0 0 2em;
}

/***Projects section homepage*/

#projects {
  text-align: center;
  background-color: gray;
}

.project-type{
  color:#2C5460;
  /* font-weight: bold; */
  font-family: 'Lora', serif;
}

.carousel{
  margin: 1em 3em 0;
}

.carousel-control{
  width: 50px;
  height: 50px;
  background-color:rgba(0, 0, 0, 0.2);
  top: 40%;
  border-radius: 50%;
  opacity: 0.8;
}

.carousel-control-prev{
  left: 5%;
}

.carousel-control-next{
right: 5%;
}


.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.placeholder-for-image{
  height: 400px;
  width: 100%;
  background: white;
  margin: auto;
  background-size: cover;
}

/****Contact section homepage*/

.google-maps {
  position: relative;
  margin: 1em 3em 0;
  padding-bottom: 40%;
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.contact-info {
  padding: 7% 5% 0;
  text-align: center;
  color: #2C5460;
  font-family: 'Lora', serif;
}

.contact-icon{
  color: #61B136;
  padding: 0.75em;
}

/***Footer*/

footer{
  margin: 0;
  padding: 10% 7%;
  text-align: center;
  color: white;
  background-color: gray;
  font-family: 'Lora', serif;
}

.footer-detail{
  margin: auto;
}

/*End Home Page*/

/*************************About Page********************/

#personnel {
  text-align: center;
  padding: 3em 4em;
  background-color: #c4c4c4;
}

.personnel-detail{
  font-family: 'Lora', serif;
  color: white;
}

.wowzers{
  background-size: cover;
  overflow: hidden;
  padding: 0;
  object-fit: cover;
  display: block;
}

.about-content{
  padding: 0 3em 2em;
  font-family: 'Lora', serif;
}

.about-image{
  height:20%;
  width: 100%;
  text-align: center;
  background-size: cover;
}

.about-us{
  margin: auto;
}

.staff {
  text-align: center;
}

.profile-pic {
  max-width: 50%;
  height: auto;
  border-radius: 100%;
  padding: 15% 7%;
}

/*******Media Queries******/

@media screen and (max-width: 480px){
  .wowzers{
    display:none;
  }

  .about-content{
    background-size: cover;
  }
}

/***********************Services Page*****************/

.page-title {
  text-align: center;
  margin: 7% 5% 0%;
  color: #2C5460;
  font-weight: bold;
  
}

.card{
  width: 80%;
  margin: 2em auto;
  background-color: white;
  border: solid 1px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1)
}

.services-info {
  display: flex;
  justify-content:center;
  color: #2C5460;
}

.services-image {
  max-width: 100%;
  height: 300px;
  background-size: cover;
}

.service-img{
  width: 100%;
  margin: auto;
}

.service-btn{
  border-radius: 12px;
  padding: 0.5em;
}

.service-btn:hover{
  background-color:#A0E418;
}

.expandMoreContent{
  height: 5px;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  position: relative;
}

.expandMoreContent.expand-active{
  height: auto;
  transition: height 0.5s ease-in-out;
}

.expandMoreHolder {
  padding: 15px 0;
  text-align: center;
}

.btn-expand-more {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.services-description {
  padding: 3.5% 5%;
}

/***********************Projects Page*******************/

.project-image{
  height:500px;
  width: 50%;
  text-align: center;
  background-size: cover;
  padding: 0;
}

.project-text{
  display: flex;
  justify-content: center;
  /* text-align: center; */
}

.project-btn{
  display: flex;
  justify-content: center;
  border-radius: 12px;
  margin: auto;
  padding: 0.5em;
}

.project-btn:hover{
  background-color: #A0E418;
}

.project-info{
  padding: 1.5em 3em;
}

.box-wrapper{
  display:flex;
  flex-wrap: wrap;
  margin: auto;
}

.read-more{
  display: flex;
  justify-content: center;
}

#more1, #more2, #more3{
  display: none;
}

/*******Media Queries******/

@media screen and (max-width: 768px){
  .project-info{
    padding: 2em 4em;
  }
  
  .box-1{
      order:0;
      width: 100%;
      height: 250px;
  }
  .box-2{
      order:1;
      width: 100%;
  }
  .box-3{
      order:3;
      width: 100%;
  }
  .box-4{
      order:2;
      width: 100%;
      height: 250px;
  }
  .box-5{
      order:4;
      width: 100%;
      height: 250px;
  }
  .box-6{
      order:5;
      width: 100%;
  }  
}

/**************************Careers Page******************/

.contact-form{
  padding: 7% 5%;
}

.careers-descriptions{
  padding: 7% 10%;
}