/******************Home Page*************************/

body {
  height: 100%;
}

h3 {
  color: white;

}

h4 {
  /* color: #2C5460;
  color: gray; */
  color: #1C6758;
}

h2 {
  color: #5D5D5D;
}

hr {
  width: 50%;
  opacity: 1;
  display: block;
  /* border-top: 5px solid #A0E418; */
  border-top: 5px solid #8CC63F;
  /* border-top: 5px solid #40826D; */
  margin: 0.25em auto;
}

.underlined-title {
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}

.navbar {
  padding: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-brand,
.jcaa-logo {
  padding: 0;
}

.navbar-toggler,
.navbar-collapse {
  margin: 0 2em;
}

.nav-link {
  transition: transform 0.2s;
  margin: 0 10px;
}

.nav-link:hover {
  transform: scale(1.05);

}

.homepage-section {
  padding: 7% 5%;
}

/***Title Section Homepage*/

.container-fluid {
  padding: 0;
  background-color: #F7F7F7;
  width: 100%;
}

/****Container holding the image and the text on home page ****/

.masthead {
  background-size: cover;
  position: relative;
  color: white;
  padding-top: 7em;
}

h1 {
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.dark-title {
  color: #5D5D5D;
  /* color: #064635; */
  /* font-weight: bold; */
}

.color-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.top-right {
  text-align: center;
  padding: 7% 5%;
}

.homepage-button {
  padding: 0 0.5em;
  border-radius: 12px;
  color: #5D5D5D;
  border: 2px solid #8CC63F;
  background-color: #F7F7F7;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  /* transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms; */

}

.homepage-button:hover {
  /* background: #F7F7F7; */
  color: white;
}

.heading-text {
  padding: 2.5% 5%;

}

h1.heading-text {
  /* font-weight: bold; */
  line-height: 1.5;
}

h5.heading-text {
  line-height: 2;
  color: white;
}

.see-more {
  color: white;
}

/*******Media Queries******/
@media(max-width: 871px) {
  .masthead {
    min-height: 50vh;
  }

  h1 {
    font-size: calc(1rem + 3.3vw);
  }
}

/********* Qualification section home page  */

.qualifications {
  text-align: center;
  padding: 5%;
  margin: 0;
  /* background-color: gray; */
  background-image: linear-gradient(to left top, #ffffff, #d4d4d4, #aaaaaa, #838383, #5d5d5d);
  /* background-color: #064635; */
}

.qualification-item {
  padding: 2rem 1rem;
}

.big-detail {
  /* color: #8CC63F; */
  padding-bottom: 7%;
  /* font-weight: bold; */
}

.small-detail {
  /* color: #A0E418; */
  /* color: #8CC63F; */
  /* color: #064635; */
  /* color: #1C6758; */
  /* color: white; */
  color: #5D5D5D;

}

/****Services section homepage*/

#services {
  text-align: center;
  background-color: #F7F7F7;
}

.services-section{
  padding: 7% 10%;
}

.white-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
}

.homepage-icon {
  color: #8CC63F;
  padding: 0.5em;
}

.service-link {
  text-decoration: none;
}

.services-category{
  margin: 1.5em 0;
  /* padding: 0; */
}

.apple{
  display: flex;
  justify-content: center;
  align-items: center;
}

.shape {
  width: 350px;
  height: 350px;
  background: white;
  margin: 0 auto;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  transition: all .5s ease-out;
}
.shape.circle {
  clip-path: circle(50% at 50% 50%);
}
.shape.circle.to-square:hover {
    clip-path: circle(70% at 50% 50%);
}

/***Projects section homepage*/

#projects {
  text-align: center;
  /* background-color: #F7F7F7; */
  /* background-color: gray; */
  background-image: linear-gradient(to left top, #ffffff, #d4d4d4, #aaaaaa, #838383, #5d5d5d);
}

.project-type {
  height: 250px;
  width: 350px;
  margin: 1em;
  background-size: cover;
  border-radius: 10%;
}


.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.placeholder-for-image {
  height: 400px;
  width: 100%;
  background: white;
  margin: auto;
  background-size: cover;
}

/****Contact section homepage*/

.google-maps {
  position: relative;
  margin: 1em 3em 0;
  padding-bottom: 40%;
  height: 0;
  overflow: hidden;
  border-radius: 12px;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.contact-info {
  padding: 7% 5% 0;
  text-align: center;
  color: #1C6758;

}

/***Footer*/

footer {
  margin: 0;
  padding: 10% 7%;
  text-align: center;
  color: white;
  background-color: gray;

}

.footer-detail {
  margin: auto;
}

/*End Home Page*/

/*************************About Page********************/

#personnel {
  text-align: center;
  padding: 3em 4em;
  /* background-color: #c4c4c4; */
  background-image: linear-gradient(to left top, #ffffff, #d4d4d4, #aaaaaa, #838383, #5d5d5d);
}

.personnel-detail {
  color: white;
  /* background-color: #5D5D5D; */
}

.separator {
  border-top: 2px solid #C4C4C4;
  margin: 1.5em 0 0 0;
}

.wowzers {
  background-size: cover;
  overflow: hidden;
  object-fit: cover;
  display: block;
  height: 80%;
  width: 100%;
  margin-bottom: 2em;
}

.about-content {
  padding: 0 2em;
  margin-top: 1em;
  line-height: 2;
}

.about-image {
  height: 20%;
  width: 100%;
  text-align: center;
  background-size: cover;
  padding-top: 7em;
}

.about-us {
  /* background-color: #eaf3f3; */
  padding: 2em 0;
  margin: auto;
}

.staff {
  text-align: center;
}

.profile-pic {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  padding: 1.5em 0.5em;
}

/***********************Services Page*****************/

.service-title {
  text-align: center;
  margin: 7% 5% 0%;
  color:#1C6758;
  padding-top: 2.25em;
}

.services-container {
  padding: 2.5em 4em;
  background-image: linear-gradient(to left top, #ffffff, #d4d4d4, #aaaaaa, #838383, #5d5d5d);
}

.service-type {
  margin: 2em auto;
  text-align: center;
  border-radius: 12px;
  padding: 0;
  max-width: 40%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1)
}

.services-image {
  max-width: 100%;
  height: 250px;
  background-size: cover;
  border-radius: 12px;
}

.service-img {
  width: 100%;
  margin: auto;
}

.service-btn {
  border-radius: 12px;
  padding: 0.5em;
}

.service-btn:hover {
  background-color: #8CC63F;
}

.expandMoreContent {
  height: 5px;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  position: relative;
}

.expandMoreContent.expand-active {
  height: auto;
  transition: height 0.5s ease-in-out;
}

.expandMoreHolder {
  padding: 15px 0;
  text-align: center;
}

.btn-expand-more {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.services-description {
  padding: 3.5% 5%;
}

/***********************Projects Page*******************/

.page-title{
text-align: center;
  margin: 7% 5% 0%;
}

.project-container {
  padding: 4em 0;
  background-image: linear-gradient(to left top, #ffffff, #d4d4d4, #aaaaaa, #838383, #5d5d5d);
  /* background-image: linear-gradient(to top, #ffffff, #d3d3d3, #a8a8a8, #7f7f7f, #595959); */
  margin: auto;
}

.text-box{
  padding-top: 1.5em;
  margin: auto auto 2.5em;
  border-radius: 12px;
  background-color: #C4C4C4;
  height: 150px;
  width: 80%;
  color: white;
  text-align: center;
  line-height: 2;
}

.black-overlay {
  border-radius: 10%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.project-type {
  position: relative;
  color: white;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items:center;
}

.project-type:hover {
  color: white;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.mybuttonoverlap{
  position: absolute;
  z-index: 2;
  top: 155px;
  display: none;
  left: 115px;	
  background-color: #F7F7F7;
  border-radius: 12px;
  }

  .project-type:hover .mybuttonoverlap{ 
  display:block;
 color:#1C6758;
  }

  .mybuttonoverlap:hover{
    background-color: #8CC63F;
  }

.slide-up:hover {
  box-shadow: inset 0 400px 0 0 rgba(28, 103, 88, 0.7);
}

.project-icon{
  color: white;
  margin-top: 70px;
}

.project-text {
  color: white;
  margin-top: 5px;
}

/**************************Careers Page******************/

.green-border {
  border: 2px solid #1C6758;
}

.contact-form {
  margin-top: 1.5em;
  padding: 2em 1em;
  background-color: #e7e7e7;
  border-radius: 12px;
}

.careers-descriptions {
  padding: 5% 10%;
  line-height: 2;
}

.careers-list {
  margin-top: 2em;
  padding: 2em 1em 1em;
  background-color: #e7e7e7;
  border-radius: 12px;
}

.careers-list-item {
  border: 2px solid gray;
  background-color: white;
  margin: 1.5em;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 12px;
}

/****************** Service item pages ********/

.flexbox-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;

}

.experience-div {
  margin-top: 2em;
}

.cinderella {
  border: 2px solid #5D5D5D;
  line-height: 2;
  border-radius: 12px;
}

.lists {
  padding: 1em;
  list-style: none;
  text-align: center;
}

.box {
  max-width: 80%;
  margin: auto;
  margin-bottom: 2.5em;
}

.title-image {
  background-size: cover;
  margin-top: 2.5em;
  min-width: 80%;
  min-height: 300px;
  border-radius: 10px;
}

.box-2 {
  line-height: 2;

}

.box-3 {
  background-color: #e7e7e7;
  min-width: 80%;

}

.list-title {
  border-bottom: 2px solid;
  padding-bottom: 10px;
}

.service-list {
  list-style: none;
  padding: 2em;
  margin: auto;
  max-width: 80%;
}

.service-list-item {
  border: 2px solid gray;
  background-color: white;
  margin: 1.5em;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 12px;
}

.anchor {
  text-decoration: none;
  color: black;
  padding: 25px;
  width: 100%;
  letter-spacing: 1px;
  /* font-weight: bold; */
}

.anchor:hover {
  color: white;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide {
  /* border: 2px solid gray; */
  /* font-family: "Lucida Console", Monaco, monospace; */
  /* border-radius: 12px; */
  /* display: inline-block; */

  /* box-shadow: inset 0 0 0 0 black;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s; */
}

.slide-right:hover {
  border-radius: 12px;
  box-shadow: inset 2000px 0 0 0 #1C6758;
}

/******** Project item page  */

.project-info{
  padding: 2.5em 4em;
}


/********* Career item pages  */

.career-content {
  margin: 10em 5em 5em;
  padding: 5em 2.5em;
  background-color: white;
}

.linkedin-link {
  padding: 1em 0;
}

.career-text {
  padding-bottom: 1em;
}